*{
	margin: 0px;
	padding: 0px;
}
body{
	font-size: 16px;
	font-family: "Trebuchet MS", sans-serif;
	background-color: #e6e6e6;
}
#area-cabecalho{
	background-color: black;
	padding: 15px;
	text-align: center;
}
#area-logo, #area-menu{
	padding: 10px;
}
h1{
	color:#4e4e4e;
	font-size: 2.5em;
}
.branco{
	color: white;
}
a{
	text-decoration: none;
	padding: 8px 12px;
}
a:link, a:visited{
	color: #f7b600;
}
a:hover{
	text-decoration: underline;
	background: #fff;
}
#area-cabecalho a:link, #area-cabecalho a:visited{
	color: #fff;
}
#area-cabecalho a:hover{
	color: #f7b600;
	background: #fff;
	text-decoration: none;
}
#area-principal{
	background-color: #fff;
	width: 920px;
	margin: 0px auto;
	padding: 15px;
}
.postagem{
	padding: 20px;
	margin-bottom: 20px;
	background:#fff;
	margin-top:70px;
	margin-left:230px;
	
}
#area-postagem{
	width: 660px;
	float: left;
	text-align: justify;

}
#area-lateral{
	width: 240px;
	float: right;
	text-align: justify;
	
}
#area-rodape{
	background: #ccc;
	clear: both;
	text-align: center;
	padding: 15px;
}
.data-postagem{
	display: block;
	font-size: 0.8em;
	border-bottom: 1px solid #f4f4f4;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
h3{
	color: #565656;
	background:#ccc;
	padding: 5px;
}

h2{
	color:#000;
	background:#fff;
	padding: 5px;
}
.postagem-lateral{
	font-size: 0.8em;
	padding-left: 45px;
	margin-top: 35px;
	text-align: justify;

}
.postagem-lateral1{
	font-size: 0.8em;
	padding-left: 45px;
	margin-top:150px;
	text-align: justify;
	
}
img{
	margin-left: 20px;
}

.pessoa{

	margin-left: 290px;
	margin-top:30px;
	font-size:20px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

